.course-eligibility-main-div {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  padding: 20px;
}
.course-eligibility-main-div .table-container{
  max-width: 600px;
}

.custom-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
  }

  .custom-table .alt-row{
    background-color: #EEEEEE;
  }
  .custom-table th{
    background-color: #020D53;
    color: white;
  }
  .custom-table th,
  .custom-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  