.make-different-align-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.different-video{
    width: 800px;
    height: 400px;
    background-color: #020d53 ;
}

@media only screen and (max-width: 900px) {
    .different-video{
        width: 600px;
        height: 300px;
        background-color: #020d53 ;
    }
  }

@media only screen and (max-width: 650px) {
    .different-video{
        width: 400px;
        height: 200px;
        background-color: #020d53 ;
    }
  }
@media only screen and (max-width: 450px) {
    .different-video{
        width: 300px;
        height: 200px;
        background-color: #020d53 ;
    }
  }