.approach-card-main-div p{
    width: 200px;
}
.approach-card-main-div{
    
    flex: 40%;
    margin: 20px;
}

@media only screen and (max-width: 480px) {
    .approach-card-main-div{
        flex: 0;
        margin: 20px;
    }
    
  }