.align-div-triple-guarantee{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.align-div-triple-guarantee img{
    width: 250px;
}

.triple-guarantee-button-div{
    width: block;
}