.single-course-description-main-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.course-name-img img{
    max-width: 50%;
    height: auto;
}
.course-name-img{
    padding: 20px;
}
.course-name h2{
    font-size: 40px;
}
.course-name p{
    font-size: 20px;
    max-width: 400px;
}



.join-course .join{
    background-color: #020D53;
    color: white;
    padding: 20px;
    text-align: center;
}

.join-course{
    margin-left: 20px;
    padding: 20px;
}

.join-course .form{
    background-color: #020D53;
    padding: 40px;
}

.join-course .form .name{
    display: flex;
    justify-content: space-between;
}


.join-course .form input{
    display: inline;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    height: 50px;
}

.join-course .form .btn{
    background-color: #FFCC00;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
    .join-course{
        margin-left: 0;
    }
  }